<div class="working-exprience">
  <section class="py-5">
    <ul class="timeline">
      <li class="timeline-item mb-5">
        <h5>Junior .NET Developer</h5>
        <small>2022-2023</small>
        <!-- <p>
        My first corporate job, wherein I'm responsible of developing api's, frontend and debug issues for our clients
        together with
        the whole development team. We usually perform peer programming and daily stand-up.
      </p> -->
      </li>
      <li class="timeline-item mb-5">
        <h5>Software Engineer Intern</h5>
        <small>4 Months</small>
        <!-- <p>
        Took my internship @ YouSource.
      </p> -->
      </li>
      <li class="timeline-item mb-5">
        <h5>Freelance Software Developer</h5>
        <small>2020-2023</small>
        <!-- <p>
        Doing freelance project to explore new things, mostly thesis and capstone projects.
      </p> -->
      </li>
    </ul>
  </section>

</div>
