<div class="projects">
  <div *ngIf="!isLoading" class="project-container">
    <app-project-item *ngFor="let project of projectList; let index = index" [project]="project" data-bs-toggle="modal"
      data-bs-target="#exampleModal" (click)="openProject(project.id)"></app-project-item>
  </div>
  <div class="loader-container">
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
</div>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ projectData.projectName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/images/a-conbel.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/images/a-conbel.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/images/a-conbel.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div> -->
