.app {
  color: $BLACK;

  .header {
    // background-color: $BASE-COLOR;
    // background: rgb(34,193,195);
    // background: linear-gradient(0deg, rgba(34,193,195,0.10120022129945727) 0%, rgba(21,177,229,0.05) 100%);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.05) 0%, rgba(21,177,229,0.02) 100%);
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .wrapper {
      display: flex;
      justify-content: center;
    }

    .user-details {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
      align-items: center;

      svg {
        height: 35px;
        border-radius: 50%;
        background-color: white;
        margin-top: -30px;
        margin-right: -65px;
        color: $BLACK;
        padding: 5px;
        cursor: pointer;

        &:hover {
          color: $PRIMARY-COLOR;
        }
      }

      img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 3px solid $PRIMARY-COLOR;
      }

      strong {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.80rem;
        color: $SECONDARY;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.899rem;

      .nav-item {
        button {
          border-bottom: 3px solid transparent;
          border-radius: 0px !important;
          display: flex;
          flex-direction: row;
          color: $SECONDARY;

          svg {
            height: 20px;
            margin: auto;
            margin-right: 8px;
          }

          &:active,
          .active {
            background-color: transparent;
            color: $BLACK;
            border-bottom: 0px solid $PRIMARY-COLOR;
          }
        }

        &:active,
        .active {
          background-color: transparent !important;
          color: $BLACK;
          border-bottom: 3px solid $PRIMARY-COLOR;

          svg {
            color: $PRIMARY-COLOR;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .nav-item {
          button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
         
            svg {
               margin-left: auto;
            }

            span {
               margin-right: auto;
            }
         }
        }
      }
    }
  }
}